@import url('reset.css');
@import url('global.css');

@font-face {
    font-family: spider-font;
    src: url("../fonts/The\ Amazing\ Spider-Man.ttf");
}

.s-wrapper{
    display: flex;
    height: 100vh;
    flex-flow: row nowrap; /* Em linha sem Quebra de */
}

.s-wrapper .s-left-column{
    width: 8%;
    height: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.s-wrapper .s-main-content{
    width: 100%;
    height: 100%;
    background-color: gray;
    padding-left: 30px;
}

.navigator{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.navigator ul li{
    margin: 60px 0;
}

.navigator ul li:first-child{ /* Primeiro elemento */
    margin-top: 0;
}

.navigator ul li:last-child{ /* Último elemento */
    margin-bottom: 0;
}

.navigator ul li a{
    color: white;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navigator::before{ /* Cria uma linha, sem precisar criar uma div */
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: white;
    z-index: 0;
}

.navigator ul{ 
    z-index: 1;
}

.navigator ul li a:hover, .navigator ul li a:active{
    color: var(--primary-color);
    background-color: white;
}

.navigator .navigator__icon{
    position: absolute;
    top: -20px;
}