@import url('reset.css');
@import url('global.css');
@import url('navigator.css');
@import url('pills.css');
@import url('link-button.css');
@import url('gallery.css');

@font-face {
    font-family: spider-font;
    src: url("../fonts/The\ Amazing\ Spider-Man.ttf");
}

/* Unidades de medida

    height: 100vh é relativa ao tamanho de sua tela
    width: 100vw é relativa a largura de sua tela 
*/

.s-wrapper{
    display: flex;
    height: 100vh;
    flex-flow: row nowrap; /* Em linha sem Quebra de */
}

.s-wrapper video{
    position: fixed;
    width: 100%;
}

.s-wrapper .s-left-column{
    width: 6%;
    height: 100%;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.s-wrapper .s-main-content{
    width: 100%;
    height: 100%;
    padding-left: 130px;
    position: relative;
}

.s-wrapper .s-main-content__top{
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom{
    height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.s-wrapper .s-main-content .s-logo img{
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
}

.s-wrapper .s-main-content__top .s-description{
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p{
    color: white;
    line-height: 160%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p a:hover{
    color: red;
}

.s-wrapper .s-main-content__top .s-description .pills{
    margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links{
    padding: 20px;
    padding-left: 0;
}
.s-wrapper .s-main-content .s-links ul{
    display: flex;
    flex-direction: row;
}

.s-spiderman-01-01{
    background-image: url('../images/spiderman-tobey/movie-01/background.png');
    background-size: cover;
}